*.suo
*.user
*.userosscache
*.sln.docstates


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.roslyn/
.vs/

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*.sln.iml

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.trx

*.DS_Store
*. বাইরে 
*.Spotlight-V100
*.Trashes
*.orig

server.log
*.log

# appsettings.Development.json

publish/